

// Typefaces.
//----------------------------------------------------------------------------
$ff-mono:  Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Courier New", Courier, monospace;;
$ff-sans:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$ff-serif: Georgia, serif;

// Semantic fonts.
//----------------------------------------------------------------------------
$ff-body:    $ff-sans;
$ff-heading: $ff-sans;
$ff-display: $ff-heading;

// Font size.
//----------------------------------------------------------------------------
$fs-xxs:     12px;
$fs-xs:      14px;
$fs-s:       16px;
$fs-m:       18px;
$fs-l:       20px;
$fs-xl:      24px;
$fs-xxl:     26px;
$fs-xxxl:    30px;
$fs-xxxxl:   36px;
$fs-xxxxxl:  40px;

// Semantic font size.
//----------------------------------------------------------------------------
$fs-h1: $fs-xxxxxl !default;
$fs-h2: $fs-xxxxl !default;
$fs-h3: $fs-xxxl !default;
$fs-h4: $fs-l !default;
$fs-h5: $fs-s !default;
$fs-h6: $fs-xs !default;

// Font Weights
//----------------------------------------------------------------------------
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-book: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Indentation.
//----------------------------------------------------------------------------
$indent-amount: 3em !default;

// Vertical rhythm.
//----------------------------------------------------------------------------
$base-font-size:    $fs-m;       // Font-size of your body copy.
$base-line-height:  6px;         // Setting the base-line-height half.
                                 // the height of the desired body copy.
                                 // line-height helps prevent sparse.
                                 // leading at different font-sizes.
